html 
    head 
        title Home Page
        link(rel='stylesheet', href='/home.css')
        link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300&display=swap" rel="stylesheet")
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")

    body#body

        div#main 
            h1#title Welcome to your restaurant selector!

            div#linkDiv
                a.link(href='/home') Home

                a.link(href='/orderform') Order Form

                a.link(href='/restaurantStats') Restaurant Statistics