#body{
    background-color: rgb(228, 228, 228);
}

/* Set the CSS for the links */
#linkDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.link:link{
    color: rgb(80, 41, 223);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.link:visited{
    color: rgb(80, 41, 223);
    text-decoration: none;
}

.link:hover{
    color: rgb(87, 88, 88);
    text-decoration: none;
}

.link:active{
    color: rgb(48, 49, 49);
    text-decoration: none;
}

/* Set the CSS for the info at the top of the orderform page */
#info{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Set the CSS for the 3 different columns */
#main{
    display: flex;
    justify-content: space-evenly;
}

#left{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#categoryLinks{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#middle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#right{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Set CSS for the title names for each dish category */
#category{
    font-family: 'Source Serif Pro', serif;
}